language: python
cache: pip
python:
- '3.6'
matrix:
  include:
  - name: Python 3.6 on Bionic Linux
    python: 3.6
    dist: bionic
  - name: Python 3.7 on Bionic Linux
    python: 3.7
    dist: bionic
install:
- pip install -r requirements.txt -r requirements-test.txt
script:
- bash test.sh --noinstall --no-update --novirtualenv --strict --no-format
after_success:
- codecov
deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  user: __token__
  password:
    secure: WoITmCwwd0sTH1VjQbAjDBC2SVpXWFK9XXzNdYSFUWZPxAe+aGQHpT7zuqWG1eGqQ6cFH9JpnCxT9dp4yj+JYsQdh9i4Ek5rhwkXrB5pNVCWDK2IH+UJkZQTTuUXlkZzk/MHbwY+NGMCu0N6Ywb1BiIrpKZVV5kPzaJ2P/CD5wmJVG1il94LO1w8aKoJ29aqYmEn1E6Vkb5jkyTotd73h1HGdLu43iSH+u71oxJoz4FERjojhusgDMm+AR3Q+t/2loZXYKfIyKqENb42WTVi1YxgSTfw40y515oaX4V73Rlx1YGY1JakEsCktDa8FxysNq7wWc5XoLYgAr3m2+9J8c0emcZ8ynZksr8BzQt7OTj2GnG4CmzHRi19soGLaTvVsB4CY/HTOUytuk9sz5c+LwraBraCh4FrE2d5J4+8coiwe7sJDORpQ0gaJkpt3uaeqMRDJt314eTq+1pT4hnxf+s791SgpEAr+LcOVVpcBi1k5t7wyQOzajZhqlIWcoiHISSesR0+T3uVAgTDOKHUUQ9YKV/I50phnQ7+Lwzb0wM8jB3IKLQ8Ymf7h68KBOFPU1wjdoR/OQ1zOgt+CKjUi1U9cHt6E0ms5n0E10fo/QfVi/A7aCnpkfwUcgLRneKBwHaI3W8syKxYI1r7AFLYXCEXfLCQtl16tosIbrfhDRY=
  on:
    branch: master
  skip_existing: true
