[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
invoke = "~=1.4"
pytest = "~=6.0"
pytest-cov = "~=2.9"
mypy = "==0.780"
pylint = "~=2.5.2"
pycodestyle = "~=2.6"
pydocstyle = "~=5.0"
pre-commit = "~=2.4"
termcolor = "~=1.1"
black = "~=19.10b0"
typed_ast = "*"  # for black
# These may not be present depending which Python version creates the lock file
dataclasses = {version = "*", markers = "python_version < '3.7'"}
importlib_metadata = {version = "*", markers = "python_version < '3.8'"}
zipp = {version = "*", markers = "python_version < '3.8'"}
twine = "*"

[packages]
requests="*"
ujson="*"
semver="*"
packaging="*"

[pipenv]
allow_prereleases = true
